@use '../../styles/settings/helpers/' as *;

.todosPanel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	column-gap: var(--offset-middle);
	margin-bottom: var(--offset-middle);

	& button {
		max-width: rem(50);
	}

	& svg {
		width: rem(25);
		height: rem(25);
	}
}