*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	/*Firefox 1-3*/
	-webkit-box-sizing: border-box;
	/* Safari */
}

/**
Убираем внутренние отступы слева тегам списков,
у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
	padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
p {
	margin: 0;
	padding: 0;
	margin-block: 0;
}

span {
	display: inline-block;
	margin: 0;
	padding: 0;
}


ul {
	list-style: none;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

input {

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}
}

select {
	display: inline-block;
}

legend {
	display: block;
}

svg *[fill] {
	fill: currentColor;
}

svg *[stroke] {
	stroke: currentColor;
}

svg * {
	transition-property: fill, stroke;
}

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

img,
video {
	display: block;
	height: auto;
	max-width: 100%;
	object-fit: cover;
}